.layout {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: 2px solid red;
  margin: 0;
  padding: 0;
  grid-row-gap: 2rem;
  background: linear-gradient(
    45deg,
    #f17c58,
    #e94584,
    #24aadb,
    #27dbb1,
    #ffdc18,
    #ff3706
  );
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
