section.events
	h2.events__heading News Events & Blog Posts
	.events__wrapper
		.container.news
			.first-col.news__picture 
			.second-col.news__info
				h1.news__title It’s all going downhill
				p.news__date 23 june 2019
				p.news__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.
		.container.news
			.first-col.news__picture 
			.second-col.news__info
				h1.news__title It’s all going downhill
				p.news__date 23 june 2019
				p.news__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.

		.container.event
			.first-col.event__picture 
			.second-col.event__info
				h1.event__date <span>24</span> aug
				p.event__title This is title
				p.event__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				button.btn.btn--secondary.btn--medium.btn--inlineSecondary  Add to calendar

		.container.event
			.first-col.event__picture 
			.second-col.event__info
				h1.event__date <span>24</span> aug
				p.event__title This is title
				p.event__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				button.btn.btn--secondary.btn--medium.btn--inlineSecondary  Add to calendar
