.layout.animation
	include header.pug
	include user-panel.pug
	include about.pug
	include team-members.pug
	include testimonials.pug
	include events.pug
	include map.pug
	include stats.pug
	include order.pug
	include footer.pug
	include modal.pug
	