header
	//- img(src='./images/hero.jpg' alt="hero image").hero-image
	.nav
		.nav__logo 
			img(src='./images/logo.png' alt="company name")
		.nav__links
			a.nav__link Animation
			.toggles
				label.final__toggle-1(for='final-toggle1')#toggleAnimation
					input#final-toggle1.final__toggle-1__input(type='checkbox')
					span.final__toggle-1__button
	.hero
		h1.hero__heading bookshelf
		h3.hero__subheading love the books!

