header
	//- img(src='./images/hero.jpg' alt="hero image").hero-image
	.nav
		.nav__logo 
			img(src='./images/logo.png' alt="company name")
		.nav__links
			a.nav__link Home
			a.nav__link About
			a.nav__link Contact
	.hero
		h1.hero__heading bookshelf
		h3.hero__subheading love the books!

