section.stats
	h1.stats__heading Get your statistics
	.stats__wrapper
		.container.col
			h3.stats__title Works
			.stats__info
				.percentage.p90
					span 90
					.slice
						.bar
						.fill
				.stats__text
					p.num 300
					p.text Works Today
		.container.col
			h3.stats__title Analytics
			.stats__info
				.percentage.p70.primary
					span 70
					.slice
						.bar
						.fill
				.stats__text
					p.num 400
					p.text Analytics Today
		.container.col
			h3.stats__title Statistics
			.stats__info
				.percentage.p60.secondary
					span 60
					.slice
						.bar
						.fill
				.stats__text
					p.num 500
					p.text Statistics Today
		.container.col
			h3.stats__title Tasks
			.stats__info
				.percentage.p85.green
					span 85
					.slice
						.bar
						.fill
				.stats__text
					p.num 310
					p.text Tasks Today
