section.team-members
	h2.team-members__heading Our team members are waiting to have word with you... 
	.team-members__grid
		.message
			.message__user 
				h1 Kang Jisooo
			.message__info
				i.fas.fa-sms
				.message__photo
					img(src='./images/user-2.gif' alt="profile-picture")
				i.fas.fa-camera-retro
			.message__to
				p.message__to-text Hey! Wanna discuss last chapter? Say, 8pm my place...
			.message__from
				p.message__from-text Yeah that sounds great. See you then.
			.message__btn.btn.btn--primary.btn--small.btn--borderBottomPrimary reply
		.message
			.message__user 
				h1 Sana Lovely
			.message__info
				i.fas.fa-sms
				.message__photo
					img(src='./images/user-1.gif' alt="profile-picture")
				i.fas.fa-camera-retro
			.message__to
				p.message__to-text Hey! Wanna discuss last chapter? Say, 8pm my place...
			.message__from
				p.message__from-text Yeah that sounds great. See you then.
			.message__btn.btn.btn--primary.btn--small.btn--borderBottomPrimary reply
		.message
			.message__user 
				h1 Seulgi Bear
			.message__info
				i.fas.fa-sms
				.message__photo
					img(src='./images/user-3.gif' alt="profile-picture")
				i.fas.fa-camera-retro
			.message__to
				p.message__to-text Hey! Wanna discuss last chapter? Say, 8pm my place...
			.message__from
				p.message__from-text Yeah that sounds great. See you then.
			.message__btn.btn.btn--primary.btn--small.btn--borderBottomPrimary reply