section.testimonials
	.testimonials__icons
		button.arrow.arrow-primary-left(role="button") 
			i.fas.fa-chevron-left
		i.fab.fa-angrycreative
		i.fab.fa-angellist
		i.fab.fa-d-and-d
		i.fab.fa-grav
		i.fab.fa-drupal
		button.arrow.arrow-primary-right(role="button") 
			i.fas.fa-chevron-right
	.testimonials__info
		.testimonials__user
			.user
				.user__photo
					img(src='./images/user-2.gif' alt="profile-picture")
				.user__info.pink
					h3.user__name Jisoo CutiePie
					p.user__job Singer
					.user__sns
						i.fab.fa-instagram
						i.fab.fa-twitch
						i.fab.fa-dribbble
		.testimonials__text
			p.Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.testimonials__buttons
				button.arrow.arrow-primary-left(role="button") 
					i.fas.fa-chevron-left
				button.arrow.arrow-primary-right(role="button") 
					i.fas.fa-chevron-right


