section.user-panel
	.user-panel__search
		.search-wrapper
			form.search-form 
				input.search-input(type="text" placeholder="Search")
				i.search-icon.fas.fa-search
	.user-panel__avatar
		.user
			.user__photo
				img(src='./images/user-2.gif' alt="profile-picture")
			.user__info.pink
				h3.user__name Jisoo CutiePie
				p.user__job Singer
				.user__sns
					i.fab.fa-instagram
					i.fab.fa-twitch
					i.fab.fa-dribbble
	p.user-panel__heading Join <br/>it's free
	.user-panel__cta
		button.btn.btn--primary.btn--medium join us now
