h1.title arrow buttons
section.arrow-buttons
	button.arrow.arrow-primary-left(role="button") 
		i.fas.fa-chevron-left
	button.arrow.arrow-primary-right(role="button") 
		i.fas.fa-chevron-right
	button.arrow.arrow-primary-left.disabled(disabled="disabled") 
		i.fas.fa-chevron-left
	button.arrow.arrow-primary-right.disabled(disabled="disabled") 
		i.fas.fa-chevron-right
	button.arrow.arrow-primary-left.inline(role="button") 
		i.fas.fa-chevron-left
	button.arrow.arrow-primary-right.inline(role="button") 
		i.fas.fa-chevron-right
	
