h1.title standart buttons
section.buttons
	.buttons-wrapper
		button.btn.btn--primary.btn--small button
		button.btn.btn--primary.btn--small.btn--borderBottomPrimary button
		button.btn.btn--primary.btn--small.btn--inlinePrimary button
	.buttons-wrapper
		button.btn.btn--primary.btn--medium button
		button.btn.btn--primary.btn--medium.btn--borderBottomPrimary button
		button.btn.btn--primary.btn--medium.btn--inlinePrimary button

	.buttons-wrapper
		button.btn.btn--secondary.btn--small button
		button.btn.btn--secondary.btn--small.btn--borderBottomSecondary button
		button.btn.btn--secondary.btn--small.btn--inlineSecondary button
	.buttons-wrapper
		button.btn.btn--secondary.btn--medium button
		button.btn.btn--secondary.btn--medium.btn--borderBottomSecondary button
		button.btn.btn--secondary.btn--medium.btn--inlineSecondary button
