.wrapper-col
	h1.title Calendar
		.calendar
			h2.calendar__day Wed
			h2.calendar__day
	h1.title Messaging
		.message
			.message__user 
				h1 Kang Jisooo
			.message__info
				i.fas.fa-sms
				.message__photo
					img(src='./images/user-2.gif' alt="profile-picture")
				i.fas.fa-camera-retro
			.message__to
				p.message__to-text Hey! So are we cool to meet at the art gallery? Say 8pm
			.message__from
				p.message__from-text Yeah that sounds great. See you then.
			.message__btn.btn.btn--primary.btn--small.btn--borderBottomPrimary reply
			




	
	



