h1.title location
	.map
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1996.3366289022915!2d30.337256416003537!3d59.97632678188984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469633e73169364b%3A0x93640dedd9c2b6b2!2sVoyennyy+Institut+Fizicheskoy+Kul&#39;tury!5e0!3m2!1sen!2sru!4v1554892059263!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		i.fas.fa-map-marker-alt.map-icon
		.map__footer
			.lockup
				h2.map__title Meet us!
				p.map__place 1259  CALIFORNIA ST <br/>San Francisco, CA
			.lockup
				i.fas.fa-crosshairs
				i.fas.fa-map-marker-alt
