h1.title percentages / pie chart
section.charts
.percentage.p90
  span 90
  .slice
    .bar
    .fill
.percentage.p50
  span 75
  .slice
    .bar
    .fill
.percentage.p70
  span 70
  .slice
    .bar
    .fill
.percentage.p50
  span 50
  .slice
    .bar
    .fill
.pie-chart
  .inner-circle
