.wrapper
	h1.title search/dropdown
		.search-wrapper
			form.search-form 
				input.search-input(type="text" placeholder="Search")
				i.search-icon.fas.fa-search
			.dropdown
				i.arrow-icon.fas.fa-chevron-down
				
	h1.title user profile
		.users-wrapper
			.user
				.user__photo
					img(src='./images/user-1.gif' alt="profile-picture")
				.user__info.purple
					h3.user__name Sana Gorgeous
					p.user__job Singer
					.user__sns
						i.fab.fa-instagram
						i.fab.fa-twitch
						i.fab.fa-dribbble
			.user
				.user__photo
					img(src='./images/user-2.gif' alt="profile-picture")
				.user__info.pink
					h3.user__name Jisoo CutiePie
					p.user__job Singer
					.user__sns
						i.fab.fa-instagram
						i.fab.fa-twitch
						i.fab.fa-dribbble
			


