.wrapper
	h1.title search/dropdown
		.search-wrapper
			form.search-form 
				input.search-input(type="text" placeholder="Search")
				i.search-icon.fas.fa-search
			.dropdown
				i.arrow-icon.fas.fa-chevron-down
				
	h1.title user profile