h1.title sliders
	.sliders-wrapper
		.slider-1-container
			input.slider-1#slider1(type="range" min="0" max="100" value="50")
			.value 50
		.slider-2-container
			input.slider-2#slider2(type="range" min="0" max="100" value="50" step="25")
			.slider-bgc
			.values 
				span 0
				span 25
				span 50
				span 75
				span 100
