h1.title stages
.progress
	.bgc
	.progress-track
		#step1.progress-step(data-step=0)
			| 1
		#step2.progress-step(data-step=25)
			| 2
		#step3.progress-step(data-step=50)
			| 3
		#step4.progress-step(data-step=75)
			| 4
		#step4.progress-step.toggleBgc(data-step=100)
			| 5