h1.title video
.video-container
	video.video
		source(src='https://storage.googleapis.com/coverr-main/mp4/Over-the-Map.mp4' type="video/mp4")
	.controls
		.bar
			.color
		.buttons
			button#play-pause.play
			button#full-screen.full-screen